h2 {
  display: inline;
}
.day-control button {
  display: inline;
}
new-meal button {
  margin-top: 10px;
  width: 200px;
}
.main-col {
  padding: 10px;
  height: 70%;
}
.day-col {
  height: 60%;
}
meal-list .list {
  height: 80%;
  overflow-y: scroll;
}
.progress {
  width: 100%;
}
